:root {
  --black: #111111;
  --grey: #a6a2a2;
}

/*Config*/

html, body {
  width: 100%;
  height: 100%;
  /* faz com que o scroll da página seja natural/fluído */
  scroll-behavior: smooth;
}

body {
  font-family: 'Amatic SC', cursive;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: black;
  overflow-x: hidden;
  background-color: var(--black);
}

section {
  min-height: 70vh;

}

button {
  border: none;
  background: none;
  cursor: pointer;
}





/*Nav */
.navbar-brand {
  font-size: 2.3em;
  font-weight: bold;

}
 
nav li {
  font-size: 2em;
}





nav.active {
  background: var(--black);
}

body.darkmode--activated nav.active {
  background: var(--black);
}

.navbar-brand span {
  color: white;
  font-size: 1.6em;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #67a96a;
    text-shadow: 0 .2rem .3rem rgba(0, 0, 0, .15);
    background: none;
    transition: 400ms ease;
    font-weight: 600;
    -webkit-text-stroke: rgba(255, 255, 255, .2);
    -webkit-text-stroke-width: .05rem;
  background: none;
  transition: 400ms ease;
}

body .nav li a {
  color: white;
}




/* Header */
.home {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  /*background-color: #ffcad4;*/
}

.home canvas {
  background: linear-gradient(
    to top,
    #ff0054,
    #ff70a9,
    #ffbb8a
  );
  position: absolute;
  top: 0;
  left: 0;
}

header::after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: linear-gradient(
    to top,
    #ff0054,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}



.img-alien {
  width: 5em;
}

.home-content {
  position: relative;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  z-index: 20;
}
.content-section {
  padding: 100px 0;
  
}

.container-header p {
  color: var(--grey);
  font-weight: bold;
  font-size: 1.4em;

}

.container-header h1{
  color: white;
  font-size: 4em;
}
/*About*/

.img-responsive {
  display: inline-block;

}


.about-img {
  margin-top: 40px !important;
  border-radius: 50%;
  max-width: 300px;
  
}


.title-edit {
  color: #ff0054;
  font-size: 4.2em;
  font-weight: bold;
}

.container p {
  font-size: 2.2em;
  color: white;
  font-weight: bold;
}


.section-title {
  font-size: 4em;
  height: 4em;
  color: #ff0054;
  font-weight: bold;
  padding-top: 1em;


}


/*Contact*/

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: unset;
}

#contact #spaceship {
  position: relative;
}

#contact #spaceship img {
  width: 12em;
}

#contact #spaceship button {
  display: block;
  outline: none;
  transition: 200ms cubic-bezier(.28, .65, .73, .45);
  transition-delay: 450ms;
  z-index: 21;
}

#contact #spaceship a {
  transition: 200ms cubic-bezier(.96, .08, .73, .45);
  transition-delay: 600ms;
  font-size: 2rem;
  transform: scale(0);
  opacity: 0;
  cursor: pointer;
  color: white;
}

#contact #spaceship #light-beam {
  position: absolute;
  background: linear-gradient(
    to left,
    rgba(155, 130, 255, .3),
    rgba(185, 168, 255, .6),
    rgba(155, 130, 255, .3)
  );
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(3rem) matrix3d(
    .8, 0, 1, 0, 
    0, .882948, 0.428884, -.004, 
    -0.913545, 0, 0.406737, 0, 
    0, 0, 0, 1
  );
  box-shadow: 0 0 3rem rgba(255, 120, 242, .6);
  filter: blur(1rem);
  transition: 500ms ease;
  transition-delay: 300ms;
  z-index: -1;
  
}

#contact #spaceship.active #light-beam {
  opacity: .5;
}

#contact #spaceship.active button {
  transform: translateY(-3rem);
  transition: 1200ms cubic-bezier(.28, .65, .73, .45);
}

#contact #spaceship.active button ~ a {
  z-index: 10;
  transition: transform 1500ms cubic-bezier(.96, .08, .73, .45);
  opacity: 1;
}

#contact #spaceship.active button ~ a i {
  transition: 400ms ease;
}

  #contact #spaceship.active button ~ a:hover i {
  color: #ff0054;
  transform: scale(1.5);
}



#contact #spaceship.active button ~ a:nth-of-type(1) {
  transform: scale(1) translate(-6rem, 9rem);
}

#contact #spaceship.active button ~ a:nth-of-type(2) {
  transform: scale(1) translateY(12rem);
}

#contact #spaceship.active button ~ a:nth-of-type(3) {
  transform: scale(1) translate(6rem, 9rem);
}

#contact h3 {
  color: #ff0054;
}



#contact p {
  font-size: 2.5em;
  height: 1.15em;
  color: white;
  font-weight: bold;
}

p.active {
  opacity: 0;

}

.section-title + p {
  transition: 400ms ease;
}

#legend  {
  font-size: 2.5em;
  color: white;
}

#legend i {
  font-size: 1em;
}

#legend i:hover {
  color: pink;
}

#legend span {
  font-size: 0.5em;
}

section#contact {
  min-height: 100vh;
}

/* Footer-Section */

#footer-section {
  min-height: 10vh;
}

#footer-section svg {
  margin-bottom: -1em;
}

footer {
  background-color: #ff0054;
  padding: 2em;
}

footer small {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.8em;
}

/*Darkmode-Section 


body.darkmode--activated #contact a {
  color: white;
}

.darkmode-toggle--white {
  background:  url('../assets/svg/sun.svg') !important;
  background-size: cover !important;
}

.darkmode-toggle:not(.darkmode-toggle--white) {
  background:  url('../assets/svg/universe.svg') !important;
  background-size: cover !important;
}

.navbar a {
  color: white;
}

.darkmode-background {
  background: #eee !important;
}

.darkmode-toggle {
  z-index: 100;
}

body:not(.darkmode--activated) #light-beam {

  background: background: linear-gradient(
    90deg, 
    rgba(240,185,226,1) 0%, 
    rgba(28,241,240,1) 46%, 
    rgba(0,252,255,1) 52%, 
    rgba(45,229,234,1) 58%, 
    rgba(240,185,226,1) 100%
  ) !important;
}

*/



/*Button Rocket*/




#button-rocket  {
  outline: none;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 2.5em;
  z-index: 1034;
  opacity: 0;
  transition: 
    opacity 450ms ease,
    transform 400ms ease;
}

#button-rocket:not(.active) {
  animation: button_anim 500ms ease;
}

@keyframes button_anim {
  from { transform: translateY(0); }
  to { transform: translateY(-100vh); }
}

#button-rocket.active {
  opacity: 1;
  animation: button_anim_active 500ms ease;
}

@keyframes button_anim_active {
  from { transform: translateY(5rem); }
  to { transform: translateY(0); }
}
  

/*details media query */

@media (max-width: 768px) {
  .nav {
    display: block;
  }
} 



#project-title {
  display: flex;
  align-items: center;
  justify-content: center;
}


#carousel-project img {
  padding: 300px;
}


#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: unset;
}


.card-title:hover {
  transform: scale(1.2);
}

.card-title {
  transition: all 0.3s;
}

.card a {
  text-decoration: none;
  color: black;
  
}

.card h5 {
  font-size: 2em;
}

.card p {
  font-size: 1.1em;
}


[data-aos="true"] {
  transition: 450ms ease;
}

[data-aos="true"]:not(.waiting) {
  opacity: 1;
  transform: translateX(0);
}

.waiting {
  opacity: 0;
}

.waiting:nth-of-type(odd){
  transform: translateX(6rem);
}

.waiting:nth-of-type(even){
  transform: translateX(-6rem);
}
