{% extends "layout.njk" %}

{% block content%}

    <nav id="navbar" class="navbar navbar-custom navbar-expand-md fixed-top"role="navigation">
  		<div class="container-fluid">
  			<a href="#page-top" class="navbar-brand page-scroll" target="_black">
  					<span>AB.</span> 
            </a>       

  			<div class="navbar-header">
  				<button type="button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  					<span class="btn btn-dark">Menu.</span>
  				</button>
  				
  			</div>
  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
      			<ul class="nav nav-pills ml-auto ">
      				<li class="nav-item">
          				<a class="nav-link px-3" href="#particles-js">Home</a>
        				</li>
        				<li class="nav-item">
          				<a class="nav-link px-3" href="#about">Sobre</a>
        				</li>
         				<li class="nav-item">
          				<a class="nav-link px-3" href="#projects">projetos</a>
        				</li>
         				<li class="nav-item">
         					<a class="nav-link px-3" href="#contact">Contato</a>
        				</li>
      			</ul>
  			</div>
  		</div>
  	</nav>

  	<!--Home-Header-Section-->

  	<header id="particles-js" class="home" id="home">
  		<div class="home-content pt-50">
  			<div class="container-header">
  				<img class="img-alien"src="./assets/svg/alienh.svg" alt="avatar do site">
  				<h1 class="hs-line-1">anaberger.com</h1>
  				<p class="hs-line-2 text-white">Front-End Development</p>
  			</div>
  		</div>
      <button class="button-rocket" id="button-rocket" aria-label="botao nave scroll">
        <img src="./assets/svg/nave.svg" alt="botao nave scroll"style="width: 4.5em"> 
      </button> 	
  	</header>

  <!--ABOUT-SECTION-->
  <svg id="header-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff0054" fill-opacity="1" d="M0,128L60,138.7C120,149,240,171,360,154.7C480,139,600,85,720,74.7C840,64,960,96,1080,112C1200,128,1320,128,1380,128L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>

  <section id="about" class="">
  	<div class="container waiting" data-aos="true">
  		<div class="row">
  			<div class="col-md-6" style="margin-top: 40px">

  				<div class="hs-line-3 title-edit">Olá,</div>
  				<p class="section-text mb-60">Meu nome é Ana tenho 22 anos e atualmente faço faculdade na Universidade Federal de Santa Catarina. Sou desenvolvedora front-end apaixonada no que faço, sempre disposta a aprender mais e crescer profissionalmente.</p>
  			</div>

  			<div class="col-md-6 text-center">
  			<img class="about-img img-circle img-responsive" src="./assets/img/me.jpeg" alt="foto ana laura berger">
  		</div>
  	</div>	
  	</div>

  </section>

  <!--Projetos-->
  <section id="projects" class="d-flex flex-column waiting" data-aos="true">
    <div class="section-title"> Projetos </div>

  <div class="card-deck m-5" style="width: 65%;">
    <div class="card">
      <img class="card-img-top" src="./assets/img/eco.jpeg" alt="Projeto Ecoleta">
      <div class="card-body">
       <a href="https://gitlab.com/anabergerreis/ecoleta" target="_blank"><h5 class="card-title text-center">Ecoleta</h5>
       <a href="https://gitlab.com/anabergerreis/ecoleta"  target="_blank" class="card-text  text-center font-weight-bold">clique para ver mais</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/blog.jpeg" alt="site blog">
      <div class="card-body">
        <a href="https://blog.allinrio.com.br/" target="_blank"><h5 class="card-title text-center">Blog</h5></a>
       <a href="https://blog.allinrio.com.br/" target="_blank"class="card-text  text-center font-weight-bold">clique para ver mais</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/viagem.jpeg" alt="site agencia de viagem">
      <div class="card-body">
        <a href="https://caravan-example.netlify.app/" target="_blank"><h5 class="card-title text-center">Agência de viagens</h5></a>
       <a href="https://caravan-example.netlify.app/" target="_blank" class="card-text text-center font-weight-bold">clique para ver mais</a>
      </div>
    </div>
  </div>



  </section>


  <!--Contact-Section-->
  <section id="contact" class="d-flex flex-column">
    <div class="section-title"> Contato </div>
     <p> Click me! </p>
    <div id="spaceship" class="d-flex justify-content-center align-items-center position-relative">
        <button id="button" aria-label="botao click me">
        	<img src="./assets/svg/contact-alien.svg" alt="icone profile">
        </button>
        <div id="light-beam"></div>
      <a title="Gitlab" class="position-absolute" href="https://gitlab.com/anabergerreis" target="_blank">
        <i class="fa fa-gitlab" alt="icone gitlab"></i>
      </a>
      <a title="LinkedIn" class="position-absolute" href="https://www.linkedin.com/in/ana-laura-berger" target="_blank">
        <i class="fa fa-linkedin" alt="icone linkedin"></i>
      </a>
      <a title="Currículo" title="DOWNLOAD CURRICULO"class="position-absolute" href="./assets/pdf/curriculo-ana.pdf" download target="_blank">
        <i class="fa fa-file-download" alt="icone curriculo"></i>
      </a>
   </div> 
  </section>

  <!--Footer-Section-->

  <section id="footer-section">
   
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff0054" fill-opacity="1" d="M0,160L26.7,176C53.3,192,107,224,160,224C213.3,224,267,192,320,186.7C373.3,181,427,203,480,224C533.3,245,587,267,640,261.3C693.3,256,747,224,800,186.7C853.3,149,907,107,960,122.7C1013.3,139,1067,213,1120,240C1173.3,267,1227,245,1280,224C1333.3,203,1387,181,1413,170.7L1440,160L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path></svg>
   <footer>
     <small>Obrigada por visitar o meu site!</small>
     <small>+info: bergeranalaura9@gmail.com ou (48)99668-6046</small> 
   </footer>
  </section>


  <!--Scripts-Js-->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  	<script type="text/javascript"src="js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript"src="js/popper.min.js"></script>
    <script type="text/javascript"src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  

{% endblock content%}