<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169436124-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
              gtag('config', 'UA-169436124-1');
      </script>

    <!-- Required meta tags -->    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="google-site-verification" content="98SMJGnXeoAofl8MWAvLeWaKI0Oosh2aTR31Mwso1RE" />



    <title>anaberger.com</title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Questrial&family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" /> 
    
    <!--Favicons-->
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicon-16x16.png" />
    <link rel="manifest" href="./site.webmanifest" />
    <link rel="mask-icon" href="./assets/svg/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/apple-touch-icon.png" />
    <meta name="msapplication-TileColor" content="#b91d47" />
    <meta name="theme-color" content="#ffffff" />

	 <script src="https://kit.fontawesome.com/deb4cebc22.js" crossorigin="anonymous"></script>
</head>

<body id="page-top" data-spy="scroll" data-target="#navbar" data-offset="50">

    

    {% block content %}
    
    {% endblock content %}

</body>
</html>